@model MyELearningProject.DAL.Entites.AboutList
@{
    ViewBag.Title = "UpdateAboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımızda Listesi Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.AboutListId)
    <label>Hakkımızda Listesi Başlığı Giriniz</label>
    @Html.TextBoxFor(x => x.AboutListTitle, new { @class = "form-control" })
    <br />  <br />
    <button class="btn btn-primary">Güncelle</button>
</form>