@model MyELearningProject.DAL.Entites.AboutFeature
@{
    ViewBag.Title = "UpdateAboutFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Güncelleme Sayfası</h2>


<form method="post">
    @Html.HiddenFor(x=>x.AboutFeatureId)
    <label>Hakkımızda Öne çıkan İkonu Giriniz</label>
    @Html.TextBoxFor(x => x.AboutIcon, new { @class = "form-control" })
    <br />  <br />
    <label>Hakkımıza Öne çıkarılan başlığı Giriniz</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />  <br />
    <label>Hakkımızda Öne çıkarılan Açıklamasını Giriniz</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 5 })
    <br />  <br />
    <button class="btn btn-primary">Öne çıkarılanı Güncelle</button>
</form>