
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Referans Ekleme Sayfası</h3>

<form method="post">
    <br />
    <label>Referans Adı Soyadı</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br /> <br />
    <label>Referans Başlığı</label>
    <input type="text" name="Title" class="form-control" />
    <br /> <br />
    <label>Referans Resim</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br /> <br />
    <label>Referans Yorumu</label>
    <textarea name="Comment" class="form-control" rows="5"></textarea>
    <br /> <br />
    <label>Referans Statüsü</label>
    <select name="Status" class="form-control">
        <option value="">Durum Seçiniz</option>
        <option value="true">Aktif</option>
        <option value="false">Pasif</option>
    </select>
    <br /> <br />
    <button class="btn btn-primary">Referans Kaydet</button>
</form>