
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Referans Ekleme Sayfası</h3>

<form method="post">
    <br />
    <label>Referans Adı Soyadı</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br /> <br />
    <label>Referans Başlığı</label>
    <input type="text" name="Title" class="form-control" />
    <br /> <br />
    <label>Referans Resim</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br /> <br />
    <label>Referans Yorumu</label>
    <textarea rows="5"></textarea>
    <br /> <br />
    <label>Reü**ferans Statüsü</label>
    <button class="btn btn-primary">Eğitmeni Kaydet</button>
</form>1-*589