<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Templates/Login_v1/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/Login_v1/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
